.titulo {text-align: center}

p {font-family: serif !important;
   background-color: rgba(190, 120, 240, 0.6)
}

#primer-parrafo.importante.parrafo {   background-color: #CEE;    }

.importante.parrafo em {  color: #933;}

a{ outline: 1px solid #333}
#segundo-parrafo.novelas.parrafo a{ outline: 1px solid #333}


body p.fuente.parrafo {opacity: 100% !important;
                        color: #000}

#mascomplicado.complicado {color:#c62; font-weight: bold;  }

#fuenteparrafo { text-align: center;}
